 <div class='row justify-content-center'>
    <h4 class="section-ttl font-weight-bold">コメント一覧</h4>
  </div>
  <div class='row justify-content-center'>
    <div class='col-5'>
      <%= render 'admin/comments/index', comment: @comments %>
    </div>
  </div>