<div class="dropdown">
    <!--切替ボタンの設定 -->
    <div class="nav-link" id="dropdownMenuButton button_group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="btn btn-outline-dark mx-1">エリア</div>
    </div>
    <!--ドロップメニューの設定 -->
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <td>
          <% categories.each do |category| %>
          <%= link_to category.name,posts_path(category_id: category.id), class: 'nav-link dropdown-item' %>
          <% end %>
　　　　</td>
    </div>
</div>