<h2>ハッシュタグ #<%= @tag.hashname %></h2>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to post_path(post.id) do %>
          <%= post.title %>
          <% end %>
          <%#= image_tag post.image.variant(gravity: :center, resize:"100x100^", crop:"100x100+0+0"), if post.image.attached? %>
          <%= post.body %>
      </li>
    <% end %>
  </ul>