
<%= form_with model: [post, comment], local: false do |f| %>
  <div class="form">
  <%= f.text_area :body, style: "width: 100%" %>
  </div>

  <li class="button">
  <%= f.button :type => "submit", class: "btn btn-success btn-sm" do %>
    <i class="fa fa-comment-dots" style="color: white;">コメントする</i>
  <% end %>
  </li>
<% end %>
