<div class="comment">
  <% post.comments.each do |comment| %>
  <hr class="hr2">
    <p><%= simple_format(comment.body) %></p>
    <li class="comment2">
      <i class="fa-regular fa-user"></i>
      <%= comment.member.nick_name %> |
      <%= comment.created_at.strftime("%Y/%m/%d %H:%M")  %>
    </li>

    <li class="comment-delete">
    <% if comment.member == current_member %>
      <%= link_to post_comment_path(comment.post_id, comment.id), method: :delete, remote: true do %>
      <i class="fa-regular fa-trash-can" style="color: #ff7f7f;"></i>
      <% end %>
    <% end %>
    </li>
  <% end %>
  <hr class="hr2">
</div>
