<div class='row'>
  <div class='col-7 offset-1'></br>
    <h4 class="section-ttl font-weight-bold">最新投稿一覧</h4>
    <%= render 'admin/posts/index', post: @posts %>
  </div>

  <div class='col-3'></br>
    <h4 class="section-ttl font-weight-bold">最新コメント一覧</h4>
      <%= render 'admin/comments/index', comment: @comments %>
  </div>
</div>


