<div class="container">

    <div class="row justify-content-center">
     <div class='col-10'>
       <br>
       <h3 class="section-ttl font-weight-bold">#<%= @tag.hashname %></h3>
        <%= render 'admin/posts/index', post: @posts %>
     </div>
    </div>

</div>