@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.bg {
 background-color: #FAE3BE;
 min-height: 100vh;
}

.bg img{
width:100%;
height:50%;
}

.card-text{
font-size: 10%;
}
