@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@charset 'UTF-8';

body {
  background-image: url("../images/BG.jpg");
}


.bg {
  text-align : center
}

.bg img{
  text-align: center;
  width:50%;
  height:auto
}

.card-text{
font-size: 10%;
}

.header-dropdown{
  font-size: 150%;
}

// .navbar{
//   // background-color: #yellow;


//   .logo{
//     font-family: "游ゴシック体";
//       font-size: 150%;

//   }
//     ul {
//       justify-content: flex-end;


// }

// }